.tab-matched-questions{
	margin-bottom: 15px;
}

/* Sat */
.sat_sidebar {
    background: #fff;

    &.stick {
        position: fixed;
        top: 10px;
        left: auto;
        width: 268px;
    }

    &.stick-end {
        position: absolute;
        top: auto;
        left: auto;
        bottom: 0;
    }
}

#table-draggable1,
#table-draggable2 {
    tbody {
        display: inline-block;
        height: auto;
        max-height: 363px;
        overflow-y: scroll;
        overflow-x: hidden;

        td {
            width: 266px;
            padding-right: 10px;
        }
    }

    &.morethen5 tbody {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.sat_navigation {
    .sat_curriculum_navigation {
        .entry-content {
            a[id*="navigation_link"] {
                position: absolute;
                right: 20px;
                top: 107px;
            }

            .label-input {
                label {
                    width: 115px;

                    &.curriculum-level-label {
                        padding-top: 3px;
                    }
                }

                label + select {
                    max-width: 190px;
                }

                input[id*="search"] {
                    width: 200px;

                    + a[id*="search_button"] {
                        float: none;
                        margin-left: 5px;
                    }
                }
            }
        }

        #sat-granule-table table tbody tr.selected {
            background-color: #B6D7FF;
        }
    }
}