.sat-question{
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer
}

.sat-question-granule-name{
	overflow: hidden;
	margin-bottom: 5px;
	height: 19px;
}

.sat-question-best-match{
	color: red;
	float: right;
	font-size: 10px;
	display:block;
}

.sat-question-preview{
 margin-top:5px;
}

.sat-question-preview-title{
	color: #2583F1;
	margin-bottom: 25px;
}

.title-preview-granule{
	font-size: 20px;
}



.title-preview-question{
	color: #E6D900;
	font-size: 14px;
}

.sat-question-preview-head{
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
}