.sat_navigation_block {
    width: 70%; 
    margin-left: 2%; 
    float: right; 
    padding-left: 5px;
    min-height:600px;
}

.sat_tabs {
    /*min-height: 600px;*/
}

.sat_sidebar_block {
    width: 28%; 
    float: left;
}

.sat-generate-button {
    margin-top: 20px;
    margin-left: 45px;
}

.sat-curriculum-granule{
	cursor: pointer
}