<% if sat_questions[:best_match].present? || sat_questions[:alternatives].present? %>
	<% sat_questions[:best_match].each do |best_match| %>
	  <tr class="sat-question-sortable"><td><%= render :partial => 'question_for_granule', locals: { granule_name: sat_questions[:granule_name], sat_question: best_match, best_match: true } %></td></tr>
	<% end %>

	<% sat_questions[:alternatives].each do |alternative| %>
	  <tr class="sat-question-sortable"><td><%= render :partial => 'question_for_granule', locals: { granule_name: sat_questions[:granule_name], sat_question: alternative, best_match: false } %></td></tr>
	<% end %>
<% else %>
	<tr><td><div class="">No question found.</div></td></tr>
<% end %>