<div class="sat-question">
	<% if best_match %>
		<span class="sat-question-best-match ui-icon-red ui-icon-star with-tooltip" title="Best Match"%>&nbsp;</span>
	<% end %>

	<div class="sat-question-granule-name with-tooltip" title="<%= granule_name %>"> <%= shortened_granule_name(granule_name) %></div>
	<%= link_to '', '#', :'data-href' => preview_sat_question_path(sat_question, granule_name: granule_name), :class => 'overlay ui-icon inline ui-icon-circle-zoomin ' %>

	<%= sat_question.to_s %>
	
	<%# field for selected questions form %>
	<%= hidden_field(:sat_questions, :id, :multiple => true, value: sat_question.id) %>
	<%= hidden_field(:sat_questions, :granule_name, :multiple => true, value: granule_name) %>
</div>