<div class="sat-question-preview-head">Sat Question Preview</div>

	<div class="sat-question-preview-title">
		<div class="title-preview-granule">
			Granule: <%= @granule_name %>
		</div>
		<div class="title-preview-question">
			<%= @sat_question.to_s %>
		</div>
	</div>

	<div class="section-border sat-question-preview">
		 <div class="section-title"><span>Question</span></div>
			<%= image_tag url_for(:controller => "sat_questions", :action => "show_image", :id => @sat_question.id, :type => :question),  width: '500'%>
	</div>
		<div class="section-border sat-question-preview">
			<div class="section-title"><span>Mark Scheme</span></div>
			<%= image_tag url_for(:controller => "sat_questions", :action => "show_image", :id => @sat_question.id, :type => :mark_scheme), width: '700'%>
	</div>
