<%# TODO: DELETE if not used %>

<style type="text/css">
	.sat-pdf-footer{
		margin-bottom: -10px;
		background-color: #2583F1;
		height: 20px;
		padding: 10px;


	  height: 277mm;
	  overflow: hidden;
	}
</style>

<div class="sat-pdf-footer">Footer</div>