<div class="sat_curriculum_navigation">
  <div class="entry-content">
    <%= link_to "Show All", curriculum_navigation_sat_papers_path, :id => "sat_curriculum_navigation_link", :class => "btn btn-medium" %>
    <div class="ui-helper-clearfix"></div>
    <br>
    <div class="label-input">
      <label>Search</label>
      <%= text_field_tag :sat_search_granule_text, "", :placeholder => "Search for LO, topic" %>
      <%= link_to "Search", curriculum_navigation_sat_papers_path, :id => "sat_curriculum_navigation_search_button", :class => "btn btn-medium b-right" %>
    </div>
    <hr>
    <br>
    <div class="col2">
      <div class="label-input">
        <label>Category</label>
        <%= select_tag :category, options_for_select(granule_category_select), :class => "sat-filter-granule", :"data-href" => curriculum_navigation_sat_papers_path %>
      </div>
      <div class="label-input">
        <label>Topic</label>
        <%= select_tag :topic, options_for_select(granule_topic_select), :class => "sat-filter-granule", :"data-href" => curriculum_navigation_sat_papers_path %>
      </div>
    </div>
    <div class="col2">
      <div class="label-input">
        <label>Year</label>
        <%= select_tag :year, options_for_select(granule_year_select), :class => "sat-filter-granule", :"data-href" => curriculum_navigation_sat_papers_path %>
      </div>
      <div class="label-input">
        <label class="curriculum-level-label">Curriculum Level</label>
        <%= select_tag :level, options_for_select(granule_level_select), :class => "sat-filter-granule", :"data-href" => curriculum_navigation_sat_papers_path %>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <div id="sat-granule-table">
    <div class="sat-main-granule-pagination" data-href="<%= curriculum_navigation_sat_papers_path %>">
      <%= paginate @granules -%>
    </div>
    <table class="tsl-table">
      <thead class="tsl-table__thead">
        <tr class="tsl-table__tr">
          <th class="tsl-table__th">Year</a></th>
          <th class="tsl-table__th">Category</a></th>
          <th class="tsl-table__th">Topic</th>
          <th class="tsl-table__th">Lesson title</th>
          <th class="tsl-table__th">Level</th>
        </tr>
      </thead>
      <tbody>
        <% @granules.each do |granule| -%>
          <tr class='<%= cycle('tsl-table__tr--gray', 'tsl-table__tr--white') %> sat-curriculum-granule' data-granule-position='<%=granule.position %>'>
            <td class="tsl-table__td"><%= granule.curriculum_level_name[4..-1] %></td>
            <td class="tsl-table__td"><%= highlight_granule_search_term(granule.curriculum_category_name, @term) %></td>
            <td class="tsl-table__td"><%= highlight_granule_search_term(granule.curriculum_topic_name, @term) %></td>
            <td class="tsl-table__td"><%= highlight_granule_search_term(granule.granule_name, @term) %></td>
            <td class="tsl-table__td"><%= highlight_granule_search_term(granule.level, @term) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
