<% if @granules.empty? %>
  <h1 class="center-text">Couldn't find any learning objectives</h1>
<% else %>
  <div class="sat-granule-pagination">
    <%= paginate @granules -%>
  </div>
  <table class="tsl-table">
    <thead class="tsl-table__thead">
      <tr class="tsl-table__tr">
        <th class="tsl-table__th">Year</th>
        <th class="tsl-table__th">Category</th>
        <th class="tsl-table__th">Topic</th>
        <th class="tsl-table__th">Lesson title</th>
        <th class="tsl-table__th">Level</th>
      </tr>
    </thead>
    <tbody>
      <% @granules.each do |granule| -%>
        <tr class='<%= cycle('tsl-table__tr--gray', 'tsl-table__tr--white') %> sat-curriculum-granule' data-granule-position='<%=granule.position %>'>
          <td class="tsl-table__td"><%= granule.curriculum_level_name[4..-1] %></td>
          <td class="tsl-table__td"><%= highlight_granule_search_term(granule.curriculum_category_name, @term) %></td>
          <td class="tsl-table__td"><%= highlight_granule_search_term(granule.curriculum_topic_name, @term) %></td>
          <td class="tsl-table__td">
          <% if @learning_session %>
            <label title="<%= granule.description %>"><%= highlight_granule_search_term(granule.granule_name, @term) %></label>
          <% else %>
            <%= highlight_granule_search_term(granule.granule_name, @term) %>
          <% end %>
         </td>
          <td><%= highlight_granule_search_term(granule.level, @term) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
