<div id="content">
    <div class="sat_navigation sat_navigation_block">
      <div class="tsl-tabs">
        <ul>
          <li class="tsl-tabs__tab-item">
            <%= link_to 'Curriculum Navigation', curriculum_navigation_sat_papers_path, class: "tsl-tabs__tab-link", id: "curriculum-navigation-tab" %>
          </li>
          <li class="tsl-tabs__tab-item">
            <%= link_to 'Year', year_navigation_sat_papers_path, class: "tsl-tabs__tab-link", id: "year-navigation-tab" %>
          </li>
          <li class="tsl-tabs__tab-item">
            <%= link_to 'Level', level_navigation_sat_papers_path, class: "tsl-tabs__tab-link", id: "level-navigation-tab" %>
          </li>
        </ul>
      </div>
      <br>
      <%= link_to 'Replace Sat Questions', new_sat_upload_path, :class => 'btn btn-auto btn-medium b-right' %>
    </div>

    <div class="sat_sidebar sat_sidebar_block">
      <table class="tab-blue ta tab-matched-questions droptrue" id='table-draggable1' style="margin-bottom:15px;">
        <thead>
          <tr class="question-block-header">

            <th>Matched questions</th>

          </tr>
        </thead>
        <tbody class='sat-matched-questions connectedSortable'>
        </tbody>
      </table>
      <%= form_for(@sat_paper, format: [:html],  :html => { :target => '_blank' }) do |f| %>
        <table id='table-draggable2' class="tab-blue ta ta-dragable" class="droptrue">
          <thead>
            <tr class="question-block-header">

              <th>Selected questions</th>

            </tr>
          </thead>
          <tbody class="connectedSortable sat-selected-questions">
          </tbody>
        </table>
        <%= f.submit 'Generate Pdf', class: "btn btn-auto btn-medium  b-right" %>
      <% end %>
    </div>
    <div class="ui-helper-clearfix"></div>
</div>
