<div id="content">
  <div class="section-border">
    <h2>Sat Question Paper</h2>
  	<%= link_to 'Download Pdf', paper_pdf_link(@sat_paper_url), target: 'blank', class: "btn btn-medium btn-auto #{disabled_pdf_link?(@sat_paper_url)}" %>
  </div>
</div>