<div id="content">
  <h1>Upload SAT</h1>
  <p>Please upload the csv file.</p>
  <fieldset>
    <legend>Upload</legend>
    <%= form_for @sat_upload do |f| %>
      <div class="errors">
        <%= error_message_builder(@sat_upload) -%>
      </div>
      <%= f.file_field :csv_file, accept: 'text/csv' %>
      <%= f.submit "Upload", :class => "btn b-right" %>
    <% end %>
  </fieldset>
</div>