<div id="content">
  <h1>Upload summary</h1>
       
  <% if @sat_upload.finished %>
    <p>Upload finished at <%= date_format(@sat_upload.updated_at.in_time_zone(current_user.time_zone), :full) %></p>
    <p>File was upload at <%= @sat_upload.csv_file %></p>
    <%= link_to 'Load Sat Qestions',load_sat_questions_sat_upload_path, :'data-href' => load_sat_questions_sat_upload_path, :class => 'btn btn-auto btn-medium b-right btn-load-sat-questions'%> 
    <div class="loading b-left" style='display: none;'></div>
    <div class="ui-helper-clearfix"></div>
  <% end %>
</div>